<form class="ui form segment">
  
  <h2>
    Project's PRECACHE_URLS
  </h2>
  
  <div class="field">
    <label>Project Path</label>
    <div class="ui action input">
      
      <input type="text" placeholder="Project base path..." v-model="projectPath">
      <button class="ui button">List</button>
    </div>
  </div>
  
  
  <div class="field">
    <textarea v-model="fileList" onfocus="this.select()"
              class="ui attached"></textarea>
    <button type="button" class="ui bottom attached fluid button">COPY</button>
  </div>
</form>